<a href="https://colab.research.google.com/github/intandeay/Applied-Data-Science-Capstone-Project/blob/main/Segmenting_%26_Clustering_Neighborhoods_in_Toronto_(Pt_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/toronto.csv')
coord = pd.read_csv('/content/Geospatial_Coordinates.csv')

In [3]:
df.head()

  PostalCode           Borough                      Neighborhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto         Regent Park, Harbourfront
3        M6A        North York  Lawrence Manor, Lawrence Heights
4        M7A      Queen's Park     Ontario Provincial Government

In [6]:
coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [22]:
results = df.set_index('PostalCode').join(coord.set_index("Postal Code"))
results = results.reset_index()

In [23]:
results.head()

  PostalCode           Borough  ...   Latitude  Longitude
0        M3A        North York  ...  43.753259 -79.329656
1        M4A        North York  ...  43.725882 -79.315572
2        M5A  Downtown Toronto  ...  43.654260 -79.360636
3        M6A        North York  ...  43.718518 -79.464763
4        M7A      Queen's Park  ...  43.662301 -79.389494

[5 rows x 5 columns]

In [24]:
results.to_csv('toronto_1.csv', index=False)